.bank {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__container {
        position: relative;
    }

    &__body {
        position: relative;
        z-index: 1;
        padding: 100px 0;

        @media (max-width: $layout) {
            padding: calc(50px + (100 - 50) * ((100vw - 320px) / ($canvas - 320))) 0;
        }
    }

    &__title {
        color: var(--white);
        font-family: "DS Pixel";
        font-size: rem(80);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 6px 5px 0 rgba($color: #3CB0DF, $alpha: 1.0);
        opacity: 0;
        transform: translate(0, 30px);
        transition: all .5s ease;

        &.active {
            opacity: 1;
            transform: translate(0, 0);
        }

        @media (max-width: $layout) {
            font-size: calc(rem(30) + (80 - 30) * ((100vw - rem(320)) / ($canvas - 320)));
            text-shadow: calc(3px + (6 - 3) * ((100vw - 320px) / ($canvas - 320))) calc(2px + (5 - 2) * ((100vw - 320px) / ($canvas - 320))) 0 rgba($color: #3CB0DF, $alpha: 1.0);
        }
    }

    &__subtitle {
        color: var(--white);
        font-family: "Minecraft";
        font-size: rem(26);
        text-align: center;
        margin-bottom: 20px;
        opacity: 0;
        transform: translate(0, 30px);
        transition: all .5s ease .1s;

        &.active {
            opacity: 1;
            transform: translate(0, 0);
        }

        @media (max-width: $layout) {
            font-size: calc(rem(16) + (26 - 16) * ((100vw - rem(320)) / ($canvas - 320)));
        }
    }

    &__desc {
        color: var(--white);
        text-align: center;
        font-size: rem(18);
        font-weight: 300;
        opacity: 0;
        transform: translate(0, 30px);
        transition: all .5s ease .2s;

        &.active {
            opacity: 1;
            transform: translate(0, 0);
        }

        @media (max-width: $layout) {
            font-size: calc(rem(14) + (18 - 14) * ((100vw - rem(320)) / ($canvas - 320)));
        }
    }

    &__image {
        width: 100%;
        overflow: hidden;
        padding-bottom: 49%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}